@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
    text-align: right;
}

.common {
    display: flex;
}

.common .menu {
    width: 350px;
    padding: 2%;
    background-color: #151626;
    text-align: center;
}

.common .menu .logo img {
    width: 200px;
    height: 100px;

}

.common .menu .menu-box {
    padding-top: 20%;
}

.common .menu .menu-list {
    color: white;
    font-size: x-large;
    padding: 5%;
}

.common .menu .menu-list.active {
    color: white;
    font-size: x-large;
    padding: 5%;
    background: #4AD9A4;
}

.common .contents {
    width: 80%;
    padding: 1.5%;
}

.common .contents .header {
    text-align: right;
    width: 100%;
    display: ruby-text;
}

.common .contents .header div {
    padding-left: 1%;
}

.common .contents .header .name {
    font-weight: bolder;
    font-size: large;
}

.common .contents .header .info {
    padding-left: 0px;
}

.common .contents .header .login-date {
    color: gray;
}

.common .contents .content {
    width: 100%;
}

.main {
    padding: 2%;
}

.main .top1 {
    display: flex;
}

.main .top1 .rank-target {
    padding: 2%;
    width: 50%;
}

.main .top1 .rank-target .title {
    font-weight: bolder;
    font-size: x-large;
    display: flex;
}

.main .top1 .rank-target .title .ordering {
    font-size: small;
    margin-left: auto;
}

.user-mgmt {
    padding: 1%;
}

.user-mgmt .title {
    padding-bottom: 1%;
    display: flex;
    font-size: x-large;
    font-weight: 500;
    width: 100%;
}

.user-mgmt .title .tab div button.active {
    color: #4AD9A4;
    font-weight: bolder;
    border-color: #ced4da;
}

.user-mgmt .title .tab div button {
    color: black;
    border-color: #ced4da;
}

.user-mgmt .search-box {
    background-color: #ced4da;
    border-radius: 20px;
}

.user-mgmt .search-box .search-item {
    padding: 1.5%;
    width: 85%;
    display: flex;
}

.spacer {
    margin-right: 1%;
}

.user-mgmt .search-box .search-btn {
    margin: auto;
}

.user-mgmt .content {
    padding-top: 2%;
}

.user-mgmt .content table tbody tr td {
    padding: unset;
}

.user-mgmt .content table thead tr th {
    padding: unset;
}

.user-mgmt .content .pagination {
    display: ruby-text;
    padding-top: 2%;
}

.user-mgmt .content .pagination div {
    margin: unset;
}

.user-mgmt .content .pagination span {
    font-size: larger;
    padding: 1%;
}

.user-mgmt .content .pagination span.active {
    font-weight: bolder;
    color: #4AD9A4;
}

.user-mgmt .content .btn {
    padding-top: 1%;
    text-align: right;
}

.user-mgmt .content .btn button {
    margin-left: 1%;
}

.user-mgmt .add-content {
    background-color: #ced4da;
    border-radius: 20px;
    padding: 1%;
}

.user-mgmt .add-content .data {
    display: flex;
    padding: 1%;
}

.user-mgmt .add-content .data .key {
    font-weight: bolder;
    width: 30%;
}

.user-mgmt .add-content .data .key .sub {
    color: red;
    font-size: small;
}

.user-mgmt .add-content .data .value {
    width: 70%;
    display: flex;
}

.user-mgmt .add-btn {
    padding-top: 1%;
    text-align: right;
}

.user-mgmt .add-btn button {
    margin-left: 1%;
}

.branch-dialog .content {
    display: flex;
    width: 400px;
}

.branch-dialog .content .key {
    width: 30%;
}

.branch-dialog .content .value {
    width: 70%;
}

